<div class="form-group">
  <div class="amazons3">
    <label class="control-label">
      <input type="checkbox" id="input-toggle-{{slug}}" class="uiswitch form-control" name="{{slug}}" value="{{value}}" {{#is value 'true'}}checked{{/is}}>{{name}}
    </label>
  </div>
</div>
